* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 600px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}

form {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

.question p, h2 {
    font-size: 18px;
    margin-bottom: 30px;
}

.question label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 16px;
}

input[type="radio"] {
    width: 10px;
    height: 10px;
    margin-right: 8px;
}

input {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0056b3;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0041a6;
}

.join {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px 20px;
    animation: moveUpDown 2s infinite ease-in-out;
}

.join a {
    color: white;
    text-decoration: none;
}

.join2 {
    display: flex;
    flex-direction: column;
    background-color: green;
    font-weight: bold;
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 20px;
    animation: moveUpDown 2s infinite ease-in-out;
}

.join2 a {
    color: white;
    text-decoration: none;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 600px) {
    body {
        flex-direction: column;
        padding: 20px;
    }

    .container {
        width: 100%;
        padding: 20px;
    }

    h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .question p, h2 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    input {
        padding: 8px;
        margin-bottom: 8px;
    }

    button {
        width: 100%;
        padding: 15px;
        font-size: 14px;
    }

    .join {
        width: 90%;
        padding: 15px;
        font-size: 14px;
    }

    .join2 {
        top: 10px;
        left: 10px;
        width: 40%;
        padding: 6px 6px;
    }

    .join2 a {
        padding: 6px 4px;
    }

    #shareSection {
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    
    #shareSection button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: none;
        background-color: #25D366; /* WhatsApp green */
        color: white;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
    }
    
    #shareSection button:hover {
        background-color: #128C7E; /* WhatsApp darker green */
    }
    #submitButton {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: not-allowed;
        background-color: #ccc; /* Disabled state styling */
    }

    #submitButton:enabled {
        cursor: pointer;
        background-color: #0056b3;
    }
}
